$primary: #4479FF !default;
$primary-vertical: linear-gradient(180deg, #4479FF -0.8%, #00153F 97.31%) !default;
$primary-horizontal: linear-gradient(264.63deg, #4479FF 48.72%, #072156 127.51%) !default;

$secondary: #072156 !default;

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;


// device viewport style
$screen-viewport: 1024px;
$table-viewport: 768px;
$mobile-viewport: 490px;
