@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
p,
blockquote,
pre,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Montserrat", sans-serif;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: #000;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

header {
  background: transparent;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 768px) {
  header {
    background-color: #fff;
  }
}
header .container {
  width: 100%;
  margin: 20px 0;
  display: flex;
  align-items: center;
}
header .logo {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: left;
  margin-right: auto;
  flex: 1;
  padding-left: 80px;
}
@media screen and (max-width: 768px) {
  header .logo {
    padding-left: 10px;
  }
}
header .logo img {
  width: 25px;
  height: 25px;
  object-fit: contain;
}
header .logo span {
  font-size: 1.5rem;
  font-weight: 900;
  color: #072156;
  font-family: "Red Hat Display", sans-serif;
}
header .menu-toggle {
  display: flex;
  margin-left: auto;
  justify-content: right;
  flex: 1;
  padding-right: 80px;
}
@media screen and (max-width: 768px) {
  header .menu-toggle {
    padding-right: 10px;
  }
}
header .menu-toggle button {
  background: transparent;
  outline: none;
  border: 0;
  cursor: pointer;
  display: none;
}
@media screen and (max-width: 768px) {
  header .menu-toggle button {
    display: block;
  }
}
header .nav {
  display: flex;
  justify-content: center;
  flex: 1;
}
@media screen and (max-width: 768px) {
  header .nav {
    display: none;
  }
}
header .nav ul {
  display: flex;
  gap: 20px;
  padding: 10px 27px;
  border-radius: 62px;
  border: 1px solid #6c757d;
  align-items: center;
  width: max-content;
  background-color: #fff;
}
header .nav ul a {
  font-size: 14px;
  font-weight: 400;
  color: #072156;
  font-family: "Red Hat Display", sans-serif;
  text-decoration: none;
  color: #212529;
  transition: all 0.3s ease-in-out;
}
header .nav ul a:hover {
  color: #4479FF;
}
header .responsive-header {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  padding: 26px 0;
  z-index: 999;
  transform: translateX(-100%);
  transition: all 0.2s;
}
header .responsive-header.active {
  transform: translateX(0);
}
@media screen and (max-width: 490px) {
  header .responsive-header {
    width: 100vw;
  }
}
header .responsive-header__top {
  width: calc(100% - 10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
header .responsive-header__top--logo {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: left;
  margin-right: auto;
  flex: 1;
  padding-left: 10px;
}
header .responsive-header__top--logo img {
  width: 25px;
  height: 25px;
  object-fit: contain;
}
header .responsive-header__top--logo span {
  font-size: 1.5rem;
  font-weight: 900;
  color: #072156;
  font-family: "Red Hat Display", sans-serif;
}
header .responsive-header__top--toggle {
  display: flex;
  margin-left: auto;
  justify-content: right;
  flex: 1;
  padding-right: 10px;
}
header .responsive-header__top--toggle button {
  background: transparent;
  outline: none;
  border: 0;
  cursor: pointer;
}
header .responsive-header__menu {
  margin-top: 40px;
  width: 100%;
}
header .responsive-header__menu ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
header .responsive-header__menu ul a {
  display: block;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  color: #072156;
  font-family: "Red Hat Display", sans-serif;
  text-decoration: none;
  color: #212529;
  transition: all 0.3s ease-in-out;
}
header .responsive-header__menu ul a:hover {
  color: #4479FF;
}

.footer {
  background-color: #4479FF;
  color: #fff;
  padding: 50px 0 18px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.footer .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .footer .container {
    flex-direction: column;
  }
}
.footer .container .footer__brand {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin-bottom: 10px;
}
.footer .container .footer__brand-logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.footer .container .footer__brand-name {
  font-family: "Red Hat Display";
  font-size: 64px;
  font-weight: 700;
  line-height: 32px;
}
.footer .container .footer__contact {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  flex: 1;
  margin-bottom: 10px;
}
.footer .container .footer__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  flex: 1;
  margin-bottom: 10px;
}
.footer .container .footer__nav a {
  color: #fff;
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}
.footer__legal {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  text-align: center;
}

@media screen and (max-width: 490px) {
  main {
    margin-top: 80px;
  }
}

section.hero {
  width: 80%;
  margin: 0 auto;
  height: 100vh;
}
@media screen and (max-width: 768px) {
  section.hero {
    padding: 4rem 0;
    height: max-content;
  }
}
section.hero .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 768px) {
  section.hero .container {
    flex-direction: column;
  }
}
section.hero .container .content {
  width: 50%;
}
@media screen and (max-width: 768px) {
  section.hero .container .content {
    width: 100%;
    margin-bottom: 2rem;
  }
}
section.hero .container .content .hero__title {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  background: linear-gradient(264.63deg, #4479FF 48.72%, #072156 127.51%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin: auto;
}
@media screen and (max-width: 1024px) {
  section.hero .container .content .hero__title {
    font-size: 32px;
  }
}
@media screen and (min-width: 1500px) {
  section.hero .container .content .hero__title {
    font-size: 64px;
  }
}
section.hero .container .content .hero__subtitle {
  margin: 15px auto;
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #212529;
}
section.hero .container .content .hero__button {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}
section.hero .container .box {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  width: 50%;
  height: 80%;
  z-index: 10;
}
@media screen and (max-width: 768px) {
  section.hero .container .box {
    width: 100%;
  }
}
section.hero .container .box iframe {
  display: block;
  max-width: 470px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  section.hero .container .box iframe {
    min-height: 700px;
  }
}

section.introduce {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 160px;
  position: relative;
}
@media screen and (max-width: 490px) {
  section.introduce {
    margin-bottom: 0;
  }
}
section.introduce .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1170px;
  margin: auto;
}
@media screen and (max-width: 768px) {
  section.introduce .container {
    flex-direction: column;
  }
}
section.introduce .container .container__btn-mobie {
  display: none;
  justify-content: center;
  margin-top: 20px;
}
@media screen and (max-width: 490px) {
  section.introduce .container .container__btn-mobie {
    display: flex;
  }
}
section.introduce .container .content {
  width: 50%;
}
@media screen and (max-width: 768px) {
  section.introduce .container .content {
    width: 100%;
  }
}
section.introduce .container .content .introduce__title {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 101.99%;
  color: #4479FF;
}
@media screen and (max-width: 768px) {
  section.introduce .container .content .introduce__title {
    display: none;
  }
}
section.introduce .container .content .introduce__title.tablet {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 101.99%;
  align-items: center;
  color: #4479FF;
  display: none;
}
@media screen and (max-width: 768px) {
  section.introduce .container .content .introduce__title.tablet {
    font-size: 24px;
    line-height: 32px;
    display: block;
  }
}
section.introduce .container .content p {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #212529;
}
@media screen and (max-width: 768px) {
  section.introduce .container .content p {
    display: none;
  }
}
section.introduce .container .content .introduce__button {
  margin-top: 20px;
}
@media screen and (max-width: 490px) {
  section.introduce .container .content .introduce__button {
    display: none;
  }
}
section.introduce .container .code__content {
  width: 50%;
}
@media screen and (max-width: 768px) {
  section.introduce .container .code__content {
    width: 100%;
  }
}
section.introduce .container .code__content .section__code {
  display: flex;
  box-shadow: 0px 24px 40px #e8eaed;
  background: #ffffff;
  border-radius: 24px;
  max-height: 312px;
  max-width: 570px;
}
section.introduce .container .code__content .section__code .section__code-side {
  background: #fcfcfc;
  padding-top: 24px;
  width: 32px;
  font-family: "Roboto mono", monospace;
}
section.introduce .container .code__content .section__code .section__code-side .section__code-side-item {
  font-size: 12px;
  line-height: 24px;
  color: #6c7689;
  text-align: right;
  margin-right: 6px;
}
section.introduce .container .code__content .section__code .section__code-code {
  font-size: 14px;
  line-height: 24px;
  margin-left: 16px;
  padding-right: 29p;
  padding-top: 24px;
  font-family: "Roboto mono", monospace;
}
section.introduce .container .code__content .section__code .section__code-code .token.keyword {
  color: #00a769;
}
section.introduce .container .code__content .section__code .section__code-code .token.class-name {
  color: #ff9300;
}
section.introduce .container .code__content .section__code .section__code-code .token.comment {
  color: #a4aec1;
}
section.introduce .container .code__content .section__code .section__code-code .token.string {
  color: #00705b;
}

section.features {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 160px;
  position: relative;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
section.features::after {
  content: "";
  position: absolute;
  display: block;
  clear: both;
  background-image: url("/assets/images/feature-bg.png");
  width: 100%;
  height: 100%;
  top: -50%;
  left: -75%;
  z-index: -1;
}
section.features .container {
  display: flex;
  position: relative;
  background-color: #fff;
  border-radius: 24px;
  justify-content: space-around;
  align-items: center;
  max-width: 1504px;
  margin: auto;
  padding: 50px 50px 50px 100px;
}
@media screen and (max-width: 768px) {
  section.features .container {
    flex-direction: column;
    padding: 48px 0;
  }
}
section.features .container::after {
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  background: linear-gradient(105.65deg, #4479FF 0.55%, #A9CAFF 51.42%, #4479FF 99.2%);
  content: "";
  z-index: -1;
  border-radius: 25px;
}
section.features .container .content {
  width: 50%;
}
@media screen and (max-width: 768px) {
  section.features .container .content {
    padding: 0 16px;
    width: 100%;
    text-align: center;
  }
}
section.features .container .content .features__title {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 101.99%;
  color: #4479FF;
}
@media screen and (max-width: 768px) {
  section.features .container .content .features__title {
    font-size: 24px;
    line-height: 32px;
  }
}
section.features .container .content .features_item {
  color: #212529;
  font-family: "Red Hat Display";
  font-style: normal;
  margin: 25px auto;
  user-select: none;
  cursor: pointer;
  position: relative;
}
@media screen and (min-width: 768px) {
  section.features .container .content .features_item::after {
    content: "";
    display: block;
    position: absolute;
    left: -16px;
    bottom: 0;
    top: 0;
    border: 2px solid rgba(241, 238, 238, 0.8);
  }
}
section.features .container .content .features_item.active {
  color: #4479FF;
}
@media screen and (min-width: 768px) {
  section.features .container .content .features_item.active::after {
    content: "";
    display: block;
    position: absolute;
    left: -16px;
    bottom: 0;
    top: 0;
    border: 2px solid #4479FF;
  }
}
section.features .container .content .features_item h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 5px;
}
@media screen and (max-width: 768px) {
  section.features .container .content .features_item h3 {
    font-size: 16px;
  }
}
section.features .container .content .features_item p {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}
@media screen and (max-width: 768px) {
  section.features .container .content .features_item p {
    display: none;
  }
}
section.features .container .content #features_desciption {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 101.99%;
  color: #4479FF;
  display: none;
  margin-bottom: 24px;
}
@media screen and (max-width: 768px) {
  section.features .container .content #features_desciption {
    font-size: 14px;
    line-height: 20px;
    display: block;
  }
}
section.features .container .tabs {
  max-width: 470px;
  width: max-content;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  overflow: hidden;
}
@media screen and (max-width: 490px) {
  section.features .container .tabs {
    width: 100%;
    box-shadow: unset;
  }
}
section.features .container .tabs video {
  width: 390px;
  max-height: 351px;
  margin: auto 0;
}
@media screen and (max-width: 490px) {
  section.features .container .tabs video {
    max-width: 95%;
  }
}

section.coverage {
  max-width: 1504px;
  border-radius: 24px;
  text-align: center;
  padding: 80px 15px;
  margin: 0 auto;
  overflow: hidden;
}
section.coverage .coverage__title {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 101.99%;
  color: #4479FF;
}
section.coverage .coverage__title br {
  display: none;
}
@media screen and (max-width: 768px) {
  section.coverage .coverage__title br {
    display: block;
  }
}
section.coverage .coverage__subtitle {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #343a40;
}
section.coverage .coverage__subtitle a {
  color: #4479FF;
  font-weight: 600;
}
section.coverage .map-wrapper {
  position: relative;
}
section.coverage .map-wrapper::after {
  content: "";
  position: absolute;
  display: block;
  clear: both;
  background-image: url("/assets/images/feature-bg.png");
  width: 100%;
  height: 100%;
  bottom: 0%;
  right: -50%;
  z-index: -1;
}
section.coverage .map-wrapper #country-popup {
  pointer-events: none;
  font-size: 18px;
  font-family: "Red Hat Display", sans-serif !important;
  display: none;
  flex-direction: column;
  padding: clamp(10px, 1vw, 20px);
  background-color: #000;
  color: #fff;
  border-radius: 20px;
  text-align: center;
  position: absolute;
  will-change: translate;
  box-sizing: border-box;
}
@media screen and (max-width: 490px) {
  section.coverage .map-wrapper #country-popup {
    max-width: 100%;
    overflow: hidden;
  }
}
section.coverage .map-wrapper #country-popup strong {
  font-weight: bold;
  font-size: clamp(14px, 1vw, 18px);
}
section.coverage .map-wrapper #country-popup ul {
  display: flex;
  margin-top: clamp(5px, 1vw, 13px);
  transition: all 0.3s linear;
}
@media screen and (max-width: 490px) {
  section.coverage .map-wrapper #country-popup ul {
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
  }
}
section.coverage .map-wrapper #country-popup ul li {
  padding: 0 clamp(12px, 1vw, 15px);
  position: relative;
  white-space: nowrap;
  font-size: clamp(12px, 1vw, 18px);
}
section.coverage .map-wrapper #country-popup ul li:not(:last-of-type):after {
  content: "•";
  right: clamp(-2px, 1vw, -15px);
  position: absolute;
}
section.coverage .map-wrapper #country-popup:after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translate3d(calc(-50% - var(--shift-amount)), -1px, 0px);
  will-change: transform;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 8px solid #000;
}
section.coverage .map-wrapper .map-legend {
  display: flex;
  width: max-content;
  gap: 65px;
  margin: 0 auto;
  margin-top: 52px;
}
@media screen and (max-width: 768px) {
  section.coverage .map-wrapper .map-legend {
    gap: 15px;
  }
}
section.coverage .map-wrapper .map-legend__item {
  display: flex;
  align-self: center;
  gap: 8px;
}
@media screen and (max-width: 768px) {
  section.coverage .map-wrapper .map-legend__item {
    align-items: center;
  }
}
section.coverage .map-wrapper .map-legend__item--text {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: #343a40;
}
@media screen and (max-width: 768px) {
  section.coverage .map-wrapper .map-legend__item--text {
    font-size: 12px;
    font-weight: 700;
  }
}
section.coverage .map-wrapper .map-legend__item--available {
  background-color: #4479FF;
}
section.coverage .map-wrapper .map-legend__item--soon {
  background-color: #4479FF;
  opacity: 0.5;
}
section.coverage .map-wrapper .map-legend__item--planning {
  background-color: #6c757d;
}
section.coverage .map-wrapper .map-legend__item div {
  width: 26px;
  height: 26px;
  border-radius: 2px;
}
@media screen and (max-width: 768px) {
  section.coverage .map-wrapper .map-legend__item div {
    width: 20px;
    height: 20px;
  }
}
section.coverage .map-wrapper #planning path {
  opacity: 0.5;
  fill: #6c757d;
}
section.coverage .map-wrapper #nowavailalble path, section.coverage .map-wrapper #soon path {
  fill: #4479FF;
}
section.coverage .map-wrapper #soon path {
  opacity: 0.5;
}
section.coverage .pay__method {
  background: #fff;
  width: 100%;
  min-width: 322px;
  min-height: 192px;
  margin: 0 auto;
  padding: 32px 0;
  padding-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 50px;
}
@media screen and (max-width: 768px) {
  section.coverage .pay__method {
    gap: 20px;
  }
}
@media screen and (max-width: 768px) {
  section.coverage .pay__method-item {
    width: 28%;
  }
}
section.coverage .pay__method-item-img {
  width: 80px;
  height: 48px;
  padding: 12px 13px;
  margin: 0 auto;
  background: #fff;
  border: 1px solid #e9ecef;
  border-radius: 4px;
  box-shadow: 0px 8px 40px #e9ecef;
  display: flex;
  align-items: center;
  justify-content: center;
}
section.coverage .pay__method-item-img img {
  transition: opacity 0.2s ease-in-out;
  will-change: opacity;
  opacity: 1;
}
section.coverage .pay__method-item-name {
  font-family: monospace !important;
  display: block;
  font-size: 12px;
  margin: auto;
  margin-top: 16px;
  height: 36px;
  max-width: 103px;
  font-weight: 500;
  line-height: 18px;
}

section.policy {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 84px;
}
@media screen and (max-width: 768px) {
  section.policy {
    padding: 24px 0px;
  }
}
section.policy .policy__title {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  text-align: center;
  background: linear-gradient(264.63deg, #4479FF 48.72%, #072156 127.51%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin: auto;
}
@media screen and (max-width: 1024px) {
  section.policy .policy__title {
    font-size: 32px;
  }
}
@media screen and (min-width: 1500px) {
  section.policy .policy__title {
    font-size: 64px;
  }
}
section.policy .policy__content {
  margin: 15px auto;
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #212529;
  text-align: center;
}
@media screen and (max-width: 768px) {
  section.policy .policy__content {
    display: none;
  }
}
section.policy .policy__content-tablet-viewport {
  margin: 15px auto;
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #212529;
  text-align: center;
  display: none;
}
@media screen and (max-width: 768px) {
  section.policy .policy__content-tablet-viewport {
    display: block;
  }
}

section.trusted-by hr {
  width: 80%;
  margin: 80px auto;
  height: 2px;
  background: linear-gradient(90deg, rgba(68, 121, 255, 0) 0%, #4479ff 48.96%, rgba(68, 121, 255, 0) 100%);
  border: none;
}
section.trusted-by .container {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  section.trusted-by .container {
    flex-direction: column;
  }
}
section.trusted-by .container .trusted-by__title {
  color: #4479FF;
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 101.99%;
}
@media screen and (max-width: 1024px) {
  section.trusted-by .container .trusted-by__title {
    font-size: 32px;
    line-height: 40px;
  }
}
@media screen and (max-width: 768px) {
  section.trusted-by .container .trusted-by__title {
    font-size: 22px;
    line-height: 32px;
    text-align: center;
  }
}
section.trusted-by .container .content__left {
  width: 40%;
  background-color: #fff;
  position: relative;
  transform: translate(5%, -6%);
}
@media screen and (max-width: 1024px) {
  section.trusted-by .container .content__left {
    transform: translate(9%, 2%);
  }
}
@media screen and (max-width: 768px) {
  section.trusted-by .container .content__left {
    display: none;
  }
}
section.trusted-by .container .content__left .trusted-by__item.item1 {
  background-color: unset;
  padding: unset;
  margin: unset;
  overflow: hidden;
  clip-path: unset;
  position: relative;
  z-index: 1;
}
section.trusted-by .container .content__right {
  width: 40%;
  background-color: #fff;
}
@media screen and (max-width: 768px) {
  section.trusted-by .container .content__right {
    display: none;
  }
}
section.trusted-by .container .content__tablet {
  display: none;
  width: 100%;
  overflow: hidden;
  background-color: #fff;
}
@media screen and (max-width: 768px) {
  section.trusted-by .container .content__tablet {
    display: block;
  }
}
section.trusted-by .container .content__tablet .carousel {
  max-width: 100%;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
section.trusted-by .container .content__tablet .carousel::-webkit-scrollbar {
  display: none;
}
section.trusted-by .container .content__tablet .carousel-content {
  display: flex;
}

section.cta {
  width: 100%;
  margin: 100px auto;
}
section.cta .container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section.cta .container .cta__logo {
  width: 90px;
  height: 90px;
}
section.cta .container .cta__logo img {
  width: 100%;
  height: 100%;
}
section.cta .container .cta__title h2 {
  margin-top: 15px;
  margin-bottom: 30px;
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  line-height: 120%;
  text-align: center;
  background: linear-gradient(264.63deg, #4479FF 48.72%, #072156 127.51%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
@media screen and (max-width: 768px) {
  section.cta .container .cta__title h2 {
    font-size: 36px;
  }
}

section.headline {
  width: 100%;
  font-family: "Red Hat Display", sans-serif;
  margin-bottom: 70px;
}
section.headline .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section.headline .container .headline__logo img {
  width: 100%;
  object-fit: contain;
}
@media screen and (max-width: 768px) {
  section.headline .container .headline__logo {
    width: 100%;
    max-width: 400px;
  }
}
@media screen and (max-width: 490px) {
  section.headline .container .headline__logo {
    width: 100%;
    max-width: 300px;
  }
}
section.headline .container .headline__title {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 102%;
  text-align: center;
  color: #4479FF;
  padding: 0 12px;
  transform: translateY(-60px);
}
@media screen and (max-width: 768px) {
  section.headline .container .headline__title {
    font-size: 32px;
  }
}
@media screen and (max-width: 490px) {
  section.headline .container .headline__title {
    font-size: 24px;
  }
}
section.headline .container .headline__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #212529;
  padding: 0 12px;
  transform: translateY(-60px);
}
@media screen and (max-width: 768px) {
  section.headline .container .headline__subtitle {
    font-size: 14px;
  }
}

section.introduction {
  width: 100%;
  font-family: "Red Hat Display", sans-serif;
  margin-bottom: 70px;
  position: relative;
}
section.introduction::before {
  content: "";
  position: absolute;
  top: -40%;
  left: -50%;
  width: 100%;
  height: 100%;
  background: url("/assets/images/feature-bg.png") no-repeat center;
  z-index: -1;
}
section.introduction .container {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  border: 1px solid #4479FF;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.05);
  border-radius: 30px;
  padding: 70px 0;
}
@media screen and (max-width: 768px) {
  section.introduction .container {
    flex-direction: column;
    padding: 70px 20px;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}
section.introduction .container .introduction__content {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-items: center;
}
@media screen and (max-width: 768px) {
  section.introduction .container .introduction__content {
    width: calc(100% - 40px);
  }
}
section.introduction .container .introduction__content .introduction__title {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 101.99%;
  color: #4479FF;
  margin: 0;
}
section.introduction .container .introduction__content .introduction__text {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  margin: 10px 0;
}
section.introduction .container .introduction__content .introduction__more {
  background: #fff;
  border: 1px solid #212529;
  border-radius: 2px;
  width: max-content;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 48px;
}
@media screen and (max-width: 768px) {
  section.introduction .container .introduction__content .introduction__more {
    margin-top: 24px;
  }
}
section.introduction .container .introduction__content .introduction__more span:first-child {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: right;
  color: #212529;
}
section.introduction .container .introduction__content .introduction__more span:last-child {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  color: #212529;
}
section.introduction .container .introduction__image {
  width: 45%;
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 53px;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  section.introduction .container .introduction__image {
    width: calc(100% - 20px);
  }
}
section.introduction .container .introduction__image img {
  width: 100%;
  object-fit: contain;
}

.achievement {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 1080px;
  margin: auto;
  margin-bottom: 70px;
  position: relative;
}
.achievement::after {
  content: "";
  position: absolute;
  top: -50%;
  right: -50%;
  width: 100%;
  height: 100%;
  background: url("/assets/images/feature-bg.png") no-repeat center;
  z-index: -1;
}
.achievement__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.achievement__item--content {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #4479FF;
}
.achievement__item--title {
  font-family: "Red Hat Display";
  font-style: italic;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #6c757d;
}

.btn {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 9px 25px;
  gap: 10px;
  background: #4479FF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  border: none;
  color: #fff;
  outline: none;
  width: max-content;
  cursor: pointer;
  user-select: none;
}

.trusted-by__item {
  background-color: #e9ecef;
  padding: 25px 55px;
  font-size: 30px;
  text-align: center;
  clip-path: polygon(10% 0, 90% 0, 100% 50%, 90% 100%, 10% 100%, 0% 50%);
  margin-bottom: 20px;
  min-height: 100px;
}
@media screen and (max-width: 768px) {
  .trusted-by__item {
    min-width: calc(100vw - 110px);
  }
}
.trusted-by__item-content {
  display: flex;
  flex-direction: column;
}
.trusted-by__item-content-sub {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 10px;
  color: #212529;
  text-align: left;
}
.trusted-by__item-content-author {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.trusted-by__item-content-author .coin-img {
  object-fit: contain;
  height: 64px;
  width: 64px;
}
.trusted-by__item-content-author .author__infor {
  display: flex;
  align-items: center;
}
.trusted-by__item-content-author .author__infor-name {
  font-size: 16px;
  font-style: italic;
  color: #4479FF;
  text-align: left;
}
.trusted-by__item-content-author .author__infor-position {
  color: #adb5bd;
  font-size: 14px;
}
.trusted-by__item-content-author .author__infor .author__img {
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  object-fit: contain;
  height: 64px;
  width: 64px;
  margin-right: 10px;
}

/*# sourceMappingURL=style.css.map */
