section.mission {
    width: 100%;
    font-family: 'Red Hat Display', sans-serif;
    margin-bottom: 70px;
    position: relative;
    .container {
        width: 90%;
        max-width: 1080px;
        margin: auto;
        display: flex;
        
        .mission__quotes {
            display: flex;
            flex-direction: column;
            padding-right: 62px;
            width: 30%;
            flex: 1 0 30%;
            background: $white;
            &--image {
                max-width: 200px;
                img {
                    width: 100%;
                    height: auto;
                    object-fit: contain;
                }
            }
            &--text {
                font-style: normal;
                font-weight: 700;
                font-size: 36px;
                line-height: 48px;
                color: $primary;
            }
            &--description {
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 21px;
                color: $gray-900;
            }
        }
        .mission__content {
            background: $primary;
            color: $white;
            padding: 90px;
            padding-right: 40px;
        }
    }
}