section.mission {
    width: 100%;
    font-family: 'Red Hat Display', sans-serif;
    margin-bottom: 70px;
    position: relative;
    .container {
        width: 90%;
        max-width: 1080px;
        margin: auto;
        display: flex;     
        .mission__quotes {
            display: flex;
            flex-direction: column;
            padding-right: 62px;
            width: 30%;
            flex: 1 0 30%;
            background: $white;
            padding-top: 90px;
            padding-bottom: 90px;
            &--image {
                max-width: 200px;
                img {
                    width: 100%;
                    height: auto;
                    object-fit: contain;
                }
            }
            &--text {
                font-style: normal;
                font-weight: 700;
                font-size: 36px;
                line-height: 48px;
                color: $primary;
                @media screen and (max-width: $screen-viewport) {
                    font-size: 28px;
                    line-height: 40px;
                }
            }
            &--description {
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 21px;
                color: $gray-900;
            }
        }
        .mission__content {
            border-radius: 0 30px 30px 0;
            background: $primary;
            color: $white;
            padding: 90px;
            padding-right: 40px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            &--title {
                font-style: normal;
                font-weight: 700;
                font-size: 40px;
                line-height: 102%;
                margin-bottom: 15px;
                @media screen and (max-width: $screen-viewport) {
                    font-size: 32px;
                    line-height: 40px;
                }
            }
            &--text {
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 21px;
                margin-bottom: 53px;
                @media screen and (max-width: $screen-viewport) {
                    font-size: 14px;
                    line-height: 18px;
                    font-weight: 600;
                }
                p {
                    margin-bottom: 16px;
                }
            }
            &--featured {
                .title {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 32px;
                    margin-bottom: 19px;
                    @media screen and (max-width: $screen-viewport) {
                        font-size: 20px;
                        line-height: 22px;
                    }
                }
                .featured-container {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 60px;
                    row-gap: 30px;
                    @media screen and (max-width: $screen-viewport) {
                        gap: 30px;
                    }
                    img {
                        width: auto;
                        height: auto;
                        object-fit: contain;
                    }
                }
            }
        }
    }
}